{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}"></link>
</head>
<body>
    <div class="wrapper fadeInDown">

        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Home </h2>

          <!-- Login Form -->
          <div class="buttons">
            <a class="button fadeIn first" href="{% url 'login' %}">Log In</a>
            <a class="button fadeIn second" href="{% url 'signup' %}">Sign Up</a>
          </div>


        </div>
      </div>
</body>
</html>