{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}"></link>
</head>
<body>
    <div class="wrapper fadeInDown">

        <a href="{% url 'home' %}">back to home</a>
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign Up </h2>
          <!-- <h2 class="inactive underlineHover">Sign Up </h2> -->

          <!-- Login Form -->

          <form action="" method="POST">

    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: #fc7a7a">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}

            <input type="submit" class="fadeIn third" value="Sign Up">
          </form>

          <!-- Remind Passowrd -->
          <!-- <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div> -->

        </div>
      </div>
</body>
</html>